<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name ="Conn" connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Project\VRSoftware\VRSoftware\VRSoftwareDB\VRSystemDB.mdf;Integrated Security=True" />-->
	  <add name="Conn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VRSystem;Integrated Security=True" />
  </connectionStrings>
</configuration>